<!-- prettier-ignore -->
{{#> base_template}}
  {{#*inline "content"}}

        <p class="greeting"><strong>Hi {{name}},</strong></p>
        <p>We have sent you an activation link for your account. Please click the button below to activate your account:</p>
        <div class='button-container'>
          <a href='{{verifyUrl}}'>Activate Your Account </a>
        </div>

{{/inline}}
{{/base_template}}
